.paginate-div{
    margin-top: 20px;
    padding: 0px 20px;
    text-align: center;
    max-width: 100%;

    .prev-next{   

        #prev{
            margin-right: 10%;
            padding: 10px;     
        }

        #prev, #next{
            padding: 4px;
            border-radius: 15px;
            width: 5%;
            height: 30px;
            font-size: 12px;
            font-weight: bold;
        }
  
    }
    span{
        margin: 5px 0px;
        padding: 5px 10px;
        border: 1px groove;
        cursor: pointer;
        display: inline-block;
    }
    span.ctive{
        background: #428bca;
    }
    span:hover{
        background: #428bca;
        color: white;
    }
   
}